# Python
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Node
node_modules/
dist/
.env

# OS
.DS_Store
Thumbs.db

# Opcional: si el dataset pesa mucho
data/raw/
data/processed/*
data/results/*
data/quarantine/*
!data/raw/
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/results/.gitkeep
!data/quarantine/.gitkeep
notebooks/content/
notebooks/outputs/
*.zip
